@{
    ViewBag.Title = "За Нас";
}

<div class="col-md-offset-1 col-md-9">

    <div class="thumbnail"> <!-- 800x300 -->
        <img class="img-responsive" src="~/Images/Gallery/main.jpg" alt="">
        <div class="caption-full">
         
            <h4>
                <a href="/">ХОТЕЛ ПОРЕЧКИ БИСЕР - С. САМОКОВ</a>
            </h4>
    
            <p>
                СРЕД ЗЕЛЕНИЛОТО НА ОБЛАСТА ПОРЕЧЈЕ КОЕ Е ВО СРЦЕТО НА МАКЕДОНИЈА, БОГАТО СО ШУМИ, ЛЕКОВИТИ И ДРУГИ БИЛКИ, ВОДА, 
                ДИВЕЧ И УБАВИ ПЕЈСАЖИ, ВО ПЛАНИНСКОТО СЕЛО САМОКОВ НА 550М. НАДМОРСКА ВИСОЧИНА, ОДДАЛЕЧЕНО НА 30 КМ ОД МАКЕДОНСКИ БРОД, 
                НА 60 КМ ОД ПРИЛЕП И НА 55 КМ ОД СКОПЈЕ ПРЕКУ ПАТОТ ШТО ВОДИ ОКОЛУ БРАНАТА “КОЗЈАК”.                
            </p>
            <p>ВЕ ОЧЕКУВА ХОТЕЛОТ ПОРЕЧКИ БИСЕР</p>
        </div>

        <div class="ratings">    
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                3 ѕвезди
            </p>
        </div>
    </div>

    <div class="well">

        <div class="text-right">
            <a href="@Url.Action("Contact", "Home")" class="btn btn-success">Контактирај не!</a>
        </div>
      

    </div>
    

    <!-- Galerija -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Галерија
                <small>Поречки бисер</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="#"> <!-- recomended 700x400 -->
                <img class="img-responsive" src="~/Images/Gallery/gal-1.jpg" alt="">
            </a>
            <h3>
                <a href="#">Слика 1</a>
            </h3>
            <p>Опис на слика 1.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="~/Images/Gallery/gal-2.jpg" alt="">
            </a>
            <h3>
                <a href="#">Слика 2</a>
            </h3>
            <p>Опис на слика 2.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="~/Images/Gallery/gal-3.jpg" alt="">
            </a>
            <h3>
                <a href="#">Слика 3</a>
            </h3>
            <p>Опис на слика 3.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="~/Images/Gallery/gal-4.jpg" alt="">
            </a>
            <h3>
                <a href="#">Слика 4</a>
            </h3>
            <p>Опис на слика 4.</p>
        </div>
    </div>
</div>