body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: brown;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#searchForm{
    display: inline;
    float: right;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Home page*/

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 80%;
      margin: auto;
  }

.slide-image {
    width:100%;
}

.custom_thumbnail{
    padding-top: 10px;
}

.options{
    margin: 20px 0px;
}


footer {
    text-align: center;
}

.thumbnail{
    background-color: #e6eeff;
}    


.thumbnail > .img-responsive {
    width:100%;
    height:500px;
}

.thumbnail_image > img{
    width: 100%;
    height: 220px;
}


/* Contact Page */

#map-outer {
    height: 440px;
    padding: 20px;
    border: 2px solid #CCC;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #FFF;
}

#map-container {
    height: 400px;
}

@media all and (max-width: 991px) {
    #map-outer {
        height: 650px;
    }
}

.description{
    background-color: black;
    color: aqua;
    width: 150px;
}

.reservation {
    background-color: #e6eeff;
    margin-top: 20px;
    border-radius: 5px;
    padding-bottom: 25px;
}

.reservation > p{
    margin: 25px 0px;
}

.reservation > h2{
    font-weight: 600;
}
/* Footer */
footer{
        color: antiquewhite;
}
