@{
    ViewBag.Title = "About";
}

<div class="col-md-offset-1 col-md-9" style="margin-top:10px">

    <div class="thumbnail">
        <!-- 800x300 -->
        <img class="img-responsive" src="~/Images/about.jpg" alt="" height="500">
        <div class="caption-full">
            <h2>About Us</h2>
            <p>
                Amidst the greenery of Porechie area positioned in the heart of Macedonia, at altitude of 550 m in the mountain village of Samokov, at 30 km from the picturesque town of Makedonski Brod  a pleasant surprise waits you. That’s the hotel Porecki Biser - The pearl of Porechie in Macedonia...
                The hotel has 20 luxury double rooms, three halls, spacious terrace, small olymic swimming pool, football and handball pitch and a private car parc. All of the rooms are equipped with mini-bar, TV set with satellite areial, bathroom and own terrace.
                Our hotel offers diverse opportunities to our guests from recreation to rest, seminars and other professional conferences and meeting, various feasts and gatherings.
            </p>
        </div>

        <div class="ratings">
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                3 stars
            </p>
        </div>
    </div>

    <div class="well">

        <div class="text-right">
            <a href="@Url.Action("Contact", "Home")" class="btn btn-success">Contact Us!</a>
        </div>
    </div>
</div>